<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <nav class="footer__links-top">
        <a>Помощь</a>
        <a>Способы доставки</a>
        <a>Возврат</a>
        <a>Подарочные карты</a>
        <a>О компании</a>
        <a>Контакты</a>
      </nav>
      <nav class="footer__links-bottom">
        <a>Вакансии</a>
        <a>Арендодателям</a>
        <a>Поставщикам</a>
      </nav>
    </div>
    <div class="footer__description">
      Доставка по Казахстану. Пункты выдачи заказов в Алматы, Астана, Караганда, Темиртау, Усть-Каменогорск, Павлодар,
      Петропавловск, Костанай, Кокшетау, Актобе, Атырау, Актау, Шымкент, Жезказган, Степногорск, Уральск, Тараз,
      Кызылорда, Балхаш, Семей, Экибастуз, Щучинск, Аксай, Талдыкорган, Акколь, Туркестан, Житикара, Рудный, Риддер,
      Сарань, Сатпаев.
    </div>
    <div class="footer__copyright">
      © 2007-2023 ТОО «Flip.kz» Казахстан
    </div>
  </div>
</footer>
