.header {
  height: 75px;
  width: 100%;
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  &-left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &-search {
    flex: 1;
    padding: 0 2rem;
  }

  &-right {
    display: flex;
    gap: 2rem;
  }
}
