<div class="card">
  <div class="card__img">
    <img [src]="book.img_url" [alt]="book.title">
  </div>
  <div class="card__title" [routerLink]="'/detail/' + book._id">
    {{book.title}}
  </div>
  <div class="card__prices">
    <div class="card__prices-price">
<!--      {{ book.price }}-->
      {{ book.price | currency:'KZT':'':'1.0-0'}} ₸
    </div>
    <div class="card__prices-old" *ngIf="book?.old_price">
      {{ book.old_price | currency:'KZT':'':'1.0-0'}} ₸
    </div>
  </div>
  <div class="cart-button">
    <app-add-cart-btn [book]="cartProduct"></app-add-cart-btn>
  </div>
</div>
