.search {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  position: relative;

  &-input {
    width: 100%;

    input {
      width: 100%;
      min-height: 40px;
      outline: none;
      box-sizing: border-box;
      padding-left: 1rem;
      border: none;
      border-radius: 8px 0 0 8px;

      &:focus {
        background: #fffbd2;
      }
    }
  }

  &-button {
    button {
      min-height: 40px;
      width: 120px;
      background: #febd01;
      border: none;
      cursor: pointer;
      font-weight: 700;
      border-radius: 0 8px 8px 0;
    }
  }
}


.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 10000;

  &-item {
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: #f8f8f8;
    }
  }
}

.backdrop {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
