<div class="search">
  <div class="search-input">
    <input type="text" [placeholder]="(listenerService.currentLng$ | async) === 'ru' ? 'Найти товар' : 'Тауарды табу'"
           #input (input)="getProducts(input.value)">
  </div>
  <div class="search-button">
    <button>{{(listenerService.currentLng$ | async) === 'ru' ? 'Найти' : 'Табу'}}</button>
  </div>
  <div class="result" *ngIf="books?.length">
    <div class="result-item" *ngFor="let book of books" (click)="toDetail(book._id,input)">{{book.title}}</div>
  </div>
</div>

<div class="backdrop" *ngIf="books.length" (click)="books = []"></div>
