.banners {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  height: 400px;

  &-main {
    flex: 3;
    background-size: cover;
    border-radius: 1rem;
    height: 100%;
    cursor: pointer;
    display: none;
  }

  &-secondary {
    flex: 1;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .secondary-banner {
      flex: 1;
      border-radius: 1rem;
      background-size: cover;
      cursor: pointer;
    }
  }
}
