<div class="container">
  <div class="banners">
    <div class="banners-main skeleton" *ngIf="!currentMainBanner"></div>
    <ng-container *ngIf="currentMainBanner">
      <div
        *ngFor="let banner of banners index as index"
        [class.skeleton]="loading"
        [class.block]="index === currentMainBanner"
        class="banners-main"
        [style]="'background-image:url(' + banner?.image + ')'"
      ></div>
    </ng-container>
    <div class="banners-secondary">
      <div class="secondary-banner" *ngFor="let banner of secondaryBanners"
           [style]="'background-image:url(' + banner?.image + ')'"
           [class.skeleton]="loading"
      ></div>
    </div>
  </div>
</div>
