.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
  }

  input {
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid grey;
    height: 45px;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .message {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
  }
}

.error > input {
  border: 2px solid red !important;
}

.error > label {
  color: red;
}
