.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &-button {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;

    img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  &-text {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
}
