<div class="login">
  <div class="login__title">Войти</div>
  <form class="login__form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Никнейм</mat-label>
      <input type="email" matInput formControlName="username"
             placeholder="Введите никнейм">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input type="email" matInput formControlName="password"
             placeholder="Введите пароль">
    </mat-form-field>
  </form>
  <button [disabled]="form.invalid" (click)="login()">send</button>
</div>
