.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__icon {
    font-size: 20px;
    cursor: pointer;
  }
}
