<div class="wrapper">
  <header class="header">
    <div class="header__top">
      <div class="header__title">Выберите город</div>
      <mat-icon class="header__icon" (click)="close()">close</mat-icon>
    </div>
    <div class="header__bottom">
      <app-search-field
        [key]="'title'"
        [(items)]="locations"
      ></app-search-field>
    </div>
  </header>
  <main>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="selectedCity">
      <div class="cities">
        <div class="cities__item" [class.cities__selected]="location.title === selectedCity"
             *ngFor="let location of locations" (click)="selectedCity= location.title">
          {{location.title}}
          <mat-radio-button class="example-radio-button" [value]="location.title" color="warn"></mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
  </main>
  <footer>
    <button mat-button color="accent" (click)="close()">Отмена</button>
    <button mat-button color="primary" (click)="selectCity()">Сохранить</button>
  </footer>
</div>
