:root {
  --brand_blue: #0a79d5;
  --light_blue: #238EEA;
  --deep_blue: rgba(8, 74, 131);
  --brand_yellow: rgb(255, 189, 0);
  --light_yellow: #FFD662;
  --black: #333;
  --gray1: #666;
  --gray2: #999;
  --gray3: rgba(212, 212, 212, 0.25);
  --gray4: #f2f2f2;
  --white: #fff;
  --red: #D93E5C;
  --orange: #FF9A03;
  --green: #739C12;
}
