.cart {
  display: flex;
  align-items: center;
  gap: 8px;

  &-info {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }

  &-count {
    cursor: pointer;

    &:hover {
      color: var(--brand_yellow);
    }
  }
}
