<div class="form">
  <h1>Пожалуйста, внимательно проверьте данные и подтвердите заказ</h1>
  <div class="contents">
    <div class="content">
      <div>{{translates['address'] || 'Аддресс'}}
        <button class="change-btn" (click)="changeInfoStep(1)">Изменить</button>
      </div>
      <div *ngFor="let key of userInfo">{{key}}</div>
    </div>
    <div class="content">
      <div>{{translates['pay_type'] || 'Тип оплаты'}}
        <button class="change-btn" (click)="changeInfoStep(2)">{{translates['change'] || 'Изменить'}}</button>
      </div>
      <div *ngFor="let key of payType">{{key}}</div>
    </div>
  </div>
  <div class="footer">
    <app-spinner-button
      [width]="'200px'"
      [loading]="confirm"
      [backgroundColor]="'green'"
      [text]="translates['form_order'] || 'Офромить заказ'"
      (onClick)="setOrder()"
    ></app-spinner-button>
  </div>
</div>
